.login-field {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 6px;
  }
  
  .login-label {
    margin-bottom: 5px;
  }
  
  .input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .login-input {
    width: 100%;
    padding-right: 40px; /* Ajuste el relleno para que quepa el icono dentro del input */
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .password-toggle-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    fill: #888; /* Ajusta el color según sea necesario */
  }
  
  