/*Tabla*/
.dash-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .dash-table th,
  .dash-table td {
    border: 1px solid var(--border-color);
    padding: 8px;
    text-align: left;
  }
  
  .dash-table th {
    background-color: #201e1e;
  
  }